@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Pacifico&display=swap');

body {
  margin: 0;
}

.aniversaries-font-inter {
  font-family: 'Inter', sans-serif;
}

.aniversaries-font-cursive {
  font-family: 'Pacifico', cursive;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #f97316 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-button,
.custom-scrollbar::-webkit-scrollbar-button:start:decrement,
.custom-scrollbar::-webkit-scrollbar-button:end:increment,
.custom-scrollbar::-webkit-scrollbar-button:vertical:increment,
.custom-scrollbar::-webkit-scrollbar-button:vertical:decrement {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
